<!DOCTYPE html>
<html>

<head>
    <title>Add to Freezer Inventory</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+J84jq6ZiQzIx15we/zDwN6U1SzI1M+" crossorigin="anonymous">
</head>

<body>
	<div class="container my-3 ">
		<div class="d-flex justify-content-between mb-3">
			<a class="btn btn-secondary" href='/dashboard'>Dashboard</a>
			<a class="btn btn-danger" href="/logout">Logout</a>
		</div>
		<h1>Add to Freezer Inventory</h1>
    <p>Add {{ flavor.name }} to which ice cream shop's freezer inventory?</p>
    <form action="/add_to_freezer" method="POST">
        <label for="flavor_id">Flavor:</label>
        <select name="flavor_id" id="flavor_id">
            {% for flavor in ice_cream_flavors %}
                <option value="{{ flavor.id }}">{{ flavor.name }}</option>
            {% endfor %}
        </select><br><br>

        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" id="quantity"><br><br>

        <input type="hidden" name="shop_id" value="{{ ice_cream_shop.id }}">
        <input type="submit" value="Add to Freezer">
    </form>
	</div>
</body>
</html>

/ice_cream_shops/{{ shop.id }}
