<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add to Freezer</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Latest compiled JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-MVf1GZu8wVJh2GNYshBnN+ei9d9tVnsNlCmyOH+VpAsZnN/7wITi2QBJaoG0plNE"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <style>
        .nav-link-spacing {
            margin-right: 10px;
            /* Adjust the value to your preference */
        }
        .navbar-logo {
            height: 50px;
            /* Adjust the height according to your preference */
            width: auto;
            /* Maintain the aspect ratio */
            margin-right: 10px;
            /* Add some space between the logo and other elements */
        }
    </style>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light container my-3">
    <img src="\static\images\Novel_logo.png" class="Novel navbar-logo" alt="Novel">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <a href="/dashboard" class="btn btn-info nav-link-spacing">Dashboard</a>
                <a href="/ice_cream_shops" class="btn btn-dark nav-link-spacing">All Ice Cream Shops</a>
                
                <li class="nav-item">
                    <a class="btn btn-danger" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container my-5">

                <div class="container my-3">
                    <h1>How many pans of {{ flavor.name }} do you have at {{ ice_cream_shop.name }}'s' Freezer?</h1>
                    <form action="{{ url_for('add_to_freezer', ice_cream_shop_id=ice_cream_shop.id, flavor_id=flavor.id) }}" method="POST">
                        <div class="mb-3">
                            <!-- <label for="flavor" class="form-label">Flavor:</label>
                            <input type="text" name="flavor" id="flavor" class="form-control" value="{{ flavor.name }}" readonly> -->
                            <input type="hidden" name="flavor_id" value="{{ flavor.id }}">
                        </div>
                        <div class="mb-3">
                            <label for="quantity" class="form-label">Quantity:</label>
                            <select name="quantity" id="quantity" class="form-select">
                                {% for i in range(1, 11) %}
                                <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Add to Freezer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>