<!DOCTYPE html>
<html>

<head>
	<title>Add New Ice Cream Shop</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<div class="container my-3 ">
		<div class="d-flex justify-content-between mb-3">
			<a class="btn btn-secondary" href='/dashboard'>Dashboard</a>
			<a class="btn btn-danger" href="/logout">Logout</a>
		</div>
		<h1>Add to Freezer Inventory</h1>
    <p>Add {{ flavor.name }} to which ice cream shop's freezer inventory?</p>
    <form method="POST" action="/add_to_freezer/{{ flavor.id }}/{{ shop_id }}">
        <input type="hidden" name="flavor_id" value="{{ flavor.id }}">
        <div class="form-group">
            <label for="shop-select">Ice Cream Shop:</label>
            <select class="form-control" id="shop-select" name="shop_id">
                {% for shop in ice_cream_shops %}
                <option value="{{ shop.id }}">{{ shop.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="quantity-input">Quantity:</label>
            <input class="form-control" type="number" id="quantity-input" name="quantity" min="1" value="1">
        </div>
        <button type="submit" class="btn btn-primary">Add to Freezer Inventory</button>
    </form>
	</div>
</body>

</html>