<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Latest compiled JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-MVf1GZu8wVJh2GNYshBnN+ei9d9tVnsNlCmyOH+VpAsZnN/7wITi2QBJaoG0plNE"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <style>
        .navbar-logo {
            height: 50px;
            /* Adjust the height according to your preference */
            width: auto;
            /* Maintain the aspect ratio */
            margin-right: 10px;
            /* Add some space between the logo and other elements */
        }

        .nav-link-spacing {
            margin-right: 10px;
            /* Adjust the value to your preference */
        }

        /* New styles */

        .navbar {
            background-color: rgba(255, 255, 255, 0.9);
        }

        h1,
        h8 {
            color: #4a4a4a;
        }

        .table {
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
        }

        .alert {
            background-color: rgba(255, 255, 255, 0.9);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light container my-3">
        <!-- <a class="navbar-brand" href="#">Novel Ice Cream</a> -->
        <img src="static\images\Novel_logo.png" class="Novel navbar-logo" alt="Novel">
        <h3>Dashboard</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <a href="/ice_cream_shops" class="btn btn-secondary nav-link-spacing">All Ice Cream Shops</a>
                {% for ice_cream_shop in ice_cream_shops %}
                <a href="{{ url_for('flavors', ice_cream_shop_id=ice_cream_shop.id) }}"
                    class="btn btn-success nav-link-spacing">View
                    Flavors</a>
                {% endfor %}
                {% for shop in ice_cream_shops %}
                <a class="btn btn-warning nav-link-spacing"
                    href="{{ url_for('freezer', ice_cream_shop_id=shop.id) }}">View Freezer</a>
                {% endfor %}
                <li class="nav-item">
                    <a class="btn btn-danger" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>



    <div class="container my-4">
        <div class="table-responsive">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">{{message}}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% for shop in ice_cream_shops %}
            <h1>{{ shop.name }}'s Current Flavors</h1>
            <h8> *WRITE FLAVOR NAME IN PARANTHESES ON BOARD* </h8>
            <table class="table-bordered table-striped " style="height: 300px; overflow: auto;">
                <thead>
                    <tr>
                        <th style="width: 20%;">Flavor Name</th>
                        <th style="width: 50%;">Description</th>
                        <th style="width: 10%;">Type</th>
                        <th style="width: 10%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if shop.get_current_flavors().ice_cream_flavors %}
                    {% for flavor in shop.get_current_flavors().ice_cream_flavors %}
                    <tr>
                        <td><h6>{{ flavor.name }}</h6></td>
                        <td><h6>{{ flavor.description }}</h6></td>
                        <td><h6>Ice Cream</h6></td>
                        <td>
                            <form action="/shops/{{ shop.id }}/flavors/{{ flavor.id }}/remove_current" method="POST"
                                style="display: inline;">
                                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                    data-bs-target="#confirm-remove-flavor-{{ flavor.id }}">Done with Pan</button>
                                <div class="modal fade" id="confirm-remove-flavor-{{ flavor.id }}" tabindex="-1"
                                    aria-labelledby="confirm-remove-flavor-label" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="confirm-remove-flavor-label">Confirm removal
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to remove the flavor "{{ flavor.name }}" from the
                                                current list?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Whoops, accidently pushed button,Cancel
                                                    this! </button>
                                                <button type="submit" class="btn btn-danger"
                                                    name="confirm_remove_flavor_{{ flavor.id }}" value="yes">Yes, we out
                                                    of stock . On to the next flavor! </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}

                    <!-- table for sorbet flavors -->
                    {% if shop.get_current_flavors().sorbet_flavors %}
                    {% for flavor in shop.get_current_flavors().sorbet_flavors %}
                    <tr>
                        <td><h6>{{ flavor.name }}</h6></td>
                        <td><h6>{{ flavor.description }}</h6></td>
                        <td><h6>Sorbet</h6></td>
                        <td>
                            <form action="/shops/{{ shop.id }}/flavors/{{ flavor.id }}/remove_current" method="POST"
                                style="display: inline;">
                                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                    data-bs-target="#confirm-remove-flavor-{{ flavor.id }}">Done with Pan</button>
                                <div class="modal fade" id="confirm-remove-flavor-{{ flavor.id }}" tabindex="-1"
                                    aria-labelledby="confirm-remove-flavor-label" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="confirm-remove-flavor-label">Confirm removal
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to remove the flavor "{{
                                                flavor.name }}" from the current list?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Whoops, accidently pushed button,Cancel
                                                    this!</button>
                                                <button type="submit" class="btn btn-danger"
                                                    name="confirm_remove_flavor_{{ flavor.id }}" value="yes">Yes, we out
                                                    of stock . On to the next flavor! </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}

                    {% if not shop.get_current_flavors().ice_cream_flavors and not
                    shop.get_current_flavors().sorbet_flavors %}
                    <tr>
                        <td colspan="4">0 flavors are selected as "Current". Go to the freezer to add flavors to the
                            current list.</td>
                    </tr>
                    {% endif %}

                </tbody>
            </table>
            {% endfor %}

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/WMono8aHDPxA0iZ7L7gD8TrL9zjJJJ5L7//b3J"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>


</html>