<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Flavor</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Latest compiled JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-MVf1GZu8wVJh2GNYshBnN+ei9d9tVnsNlCmyOH+VpAsZnN/7wITi2QBJaoG0plNE"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <!-- <script>
        var flavorDataArray = [
            {% for flavor in flavors %}
        {
            "id": "{{ flavor.id }}",
                "name": "{{ flavor.name }}",
                    "description": "{{ flavor.description }}",
                        "is_ice_cream": { { flavor.is_ice_cream | lower } }
        },
        {% endfor %}
            ];

        function updateFlavorFields() {
            var flavorSelect = document.getElementById("flavor");
            var selectedFlavorId = flavorSelect.value;
            var selectedFlavor = flavorDataArray.find(flavor => flavor.id === selectedFlavorId);

            if (selectedFlavor) {
                document.getElementById("name").value = selectedFlavor.name;
                document.getElementById("description").value = selectedFlavor.description;
                // Update the radio buttons
                document.getElementById("is_ice_cream_true").checked = selectedFlavor.is_ice_cream;
                document.getElementById("is_ice_cream_false").checked = !selectedFlavor.is_ice_cream;
            }
        }
    </script> -->

    <style>
        .navbar-logo {
            height: 50px;
            /* Adjust the height according to your preference */
            width: auto;
            /* Maintain the aspect ratio */
            margin-right: 10px;
            /* Add some space between the logo and other elements */
        }

        .nav-link-spacing {
            margin-right: 10px;
            /* Adjust the value to your preference */
        }

        .scrollable-select {
            max-height: 200px;
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light container my-3">
            <!-- <a class="navbar-brand" href="#">Novel Ice Cream</a> -->
            <img src="static\images\Novel_logo.png" class="Novel navbar-logo" alt="Novel">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <a href="/dashboard" class="btn btn-info mr-2">Dashboard</a>
                    <a href="/ice_cream_shops" class="btn btn-dark nav-link-spacing">All Ice Cream Shops</a>
                    {% for ice_cream_shop in ice_cream_shops %}
                    <a href="{{ url_for('flavors', ice_cream_shop_id=ice_cream_shop.id) }}"
                        class="btn btn-secondary nav-link-spacing">View
                        Flavors</a>
                    {% endfor %}
                    {% for shop in ice_cream_shops %}
                    <a class="btn btn-secondary nav-link-spacing"
                        href="{{ url_for('freezer', ice_cream_shop_id=shop.id) }}">View Freezer</a>
                    {% endfor %}
                    <li class="nav-item">
                        <a class="btn btn-danger" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <h1 class="my-4">Edit Flavor</h1>
        <!-- {{ flavors|tojson(indent=2) }} -->
        <form method="POST" action="/edit_flavor">
            <input type="hidden" name="ice_cream_shop_id" value="{{ ice_cream_shop_id }}">
            <div class="form-group">
                <label for="flavor">Select a flavor:</label>
                <select class="form-control scrollable-select" name="flavor" id="flavor"
                    onchange="updateFlavorFields()">
                    {% for flavor in flavors %}
                    <option value="{{ flavor.id }}" data-flavor-json="{{ flavor|tojson|safe }}">{{ flavor.name
                    }}</option>
                
                    {% endfor %}

                </select>
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" required></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">What type of flavor is this?</label>
                <div class="form-check">
                    <input type="radio" id="is_ice_cream_true" name="is_ice_cream" value="True" class="form-check-input"
                        required>
                    <label for="is_ice_cream_true" class="form-check-label">Ice cream</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="is_ice_cream_false" name="is_ice_cream" value="False"
                        class="form-check-input" required>
                    <label for="is_ice_cream_false" class="form-check-label">Sorbet</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update Flavor</button>
        </form>

    </div>
</body>

<script>
    function updateFlavorFields() {
        const flavorSelect = document.getElementById('flavor');
        const selectedOption = flavorSelect.options[flavorSelect.selectedIndex];
        const selectedFlavorData = JSON.parse(selectedOption.getAttribute('data-flavor-json'));

        document.getElementById('name').value = selectedFlavorData.name;
        document.getElementById('description').value = selectedFlavorData.description;

        if (selectedFlavorData.is_ice_cream) {
            document.getElementById('is_ice_cream_true').checked = true;
        } else {
            document.getElementById('is_ice_cream_false').checked = true;
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        updateFlavorFields();
        document.getElementById('flavor').addEventListener('change', updateFlavorFields);
    });
</script>



</html>