<!DOCTYPE html>
<html>
<head>
	<title>Edit Ice Cream Shop</title>
	<!-- Link Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body class="container my-3 ">
        <div class="d-flex justify-content-between">
            <a href='/dashboard'>dashboard</a>
            <a href="/logout">logout</a>
        </div>
        <h1 class="my-4">Edit Ice Cream Shop</h1>
        <form class="my-4" action="/ice_cream_shops/update/{{ice_cream_shop.id}}" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" type="text" id="name" name="name" value="{{ ice_cream_shop.name }}" required>
            </div>

            <div class="form-group">
                <label for="address">Address:</label>
                <input class="form-control" type="text" id="address" name="address" value="{{ ice_cream_shop.address }}" required>
            </div>

            <div class="form-group">
                <label for="phone_number">Phone Number:</label>
                <input class="form-control" type="text" id="phone_number" name="phone_number" value="{{ ice_cream_shop.phone_number }}" required>
            </div>

            <button class="btn btn-primary" type="submit">Update</button>
        </form>
    </body>
</html>