<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
        crossorigin="anonymous">
</head>

<body>
    <a href="/dashboard">Dashboard</a>

    <h1>All Flavors</h1>
    <a href="/new">add a flavor</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Current?</th>
            <th>Actions</th>
            <th>Edit Flavor</th>
            <th>Delete Flavor</th>
        </tr>
        {% for flavor in flavors %}
            <tr>
                <td>{{ flavor.name }}</td>
                <td>{{ flavor.description }}</td>
                <td>{{ 'Ice cream' if flavor.is_ice_cream else 'Sorbet' }}</td>
                <td>{{ 'Yes' if flavor.is_current else 'No' }}</td>
                <td>
                    {% if not flavor.is_current %}
                        <form action="/set_current_flavor/{{ flavor.id }}" method="POST">
                            <button type="submit" class="btn btn-primary">Set Current</button>
                        </form>
                    {% endif %}
                </td>
                <td>
                    <a href="/edit/{{flavor.id}}/edit" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <form action="/delete/{{flavor.id}}/delete" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>

</html>