<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Freezer Inventory</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Latest compiled JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-MVf1GZu8wVJh2GNYshBnN+ei9d9tVnsNlCmyOH+VpAsZnN/7wITi2QBJaoG0plNE"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <style>
        .nav-link-spacing {
            margin-right: 10px;
            /* Adjust the value to your preference */
        }
        .navbar-logo {
            height: 50px;
            /* Adjust the height according to your preference */
            width: auto;
            /* Maintain the aspect ratio */
            margin-right: 10px;
            /* Add some space between the logo and other elements */
        }
    </style>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light container my-3">
    <img src="\static\images\Novel_logo.png" class="Novel navbar-logo" alt="Novel">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <a href="/dashboard" class="btn btn-secondary nav-link-spacing">Dashboard</a>
                <a href="/ice_cream_shops" class="btn btn-secondary nav-link-spacing">All Ice Cream Shops</a>
                
                <li class="nav-item">
                    <a class="btn btn-danger" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container my-2 background-color rgb(255, 0, 119);">
        <div class="container my-4">
            <div class="d-flex justify-content-between">
                <h1 class="mb-4" style="color: rgb(255, 0, 119);"> {{ ice_cream_shop.name }}'s Freezer </h1>
                <div class="mb-3">
                    {% for shop in [ice_cream_shop] %}
                    <a href="{{ url_for('flavors', ice_cream_shop_id=shop.id) }}" class="btn btn-primary">Add Flavors to
                        Inventory</a>
                    {% endfor %}
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control bg-light text light" placeholder="Search freezer inventory..."
                    id="searchInput">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="searchButton">Search</button>
                </div>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">{{message}}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="row">
                <!-- <div class="col-md-6">
                    <h2>Current Ice Cream Flavors</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Flavor</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for flavor in ice_cream_flavors %}
                            <tr>
                                <td>{{ flavor.name }}</td>
                                <td>{{ flavor.description }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> -->
                <!-- <div class="col-md-6">
                    <h2>Current Sorbet Flavors</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Flavor</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for flavor in sorbet_flavors %}
                            <tr>
                                <td>{{ flavor.name }}</td>
                                <td>{{ flavor.description }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> -->
            <!-- </div>
            <hr> -->
            <div class="table-responsive" style="height: 500px; overflow: auto;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 25%;">Flavor</th>
                            <th style="width: 10%;">Quantity</th>
                            <th style="width: 10%;">Current Flavor</th>
                            <th style="width: 50%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{% if item.is_current %}<span class="text-success">&#x2714;</span>{% endif %}</td>
                            <td>
                                <form method="POST"
                                    action="{{ url_for('update_freezer', ice_cream_shop_id=ice_cream_shop.id, flavor_id=item.flavor_id) }}">
                                    <input type="hidden" name="flavor_id" value="{{ item.flavor_id }}">
                                    <button type="submit" name="action" value="add" class="btn btn-success">+</button>
                                    <button type="submit" name="action" value="remove" class="btn btn-danger">-</button>
                                    <button type="submit" name="action" value="make_current"
                                        class="btn btn-warning">Make Current</button>
                                    <button type="submit" name="action" value="remove_current"
                                        class="btn btn-outline-danger">Remove as Current flavor</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Current Flavor Table -->
            <!-- <h2 class="mb-4">Current Flavors</h2>
            <div class="row">
                <div class="col-md-6">
                    <h4>Ice Cream Flavors</h4>
                    <ul>
                        {% for flavor in ice_cream_flavors %}
                        <li>{{ flavor.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4>Sorbet Flavors</h4>
                    <ul>
                        {% for flavor in sorbet_flavors %}
                        <li>{{ flavor.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div> -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-t8pM/CNB9XaM/DFzsJSPNQ8hpvQCliCO7K0Z1nnwYfRg1CcpVmO9tQFhjGmP5b3r"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>


<script>
    $("#searchInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $(".table tbody tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

</script>

</html>