<body>
    <div>
        <a class="mx-3" href='/dashboard'>dashboard</a>|
        <a class="mx-3" href="/logout">logout</a>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger">{{message}}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container">
        <h1>Freezer Inventory</h1>
        <h4 class="mb-4">Current Flavors in Freezer</h4>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    </div>
</body>