<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Ice Cream Shops</title>
</head>

<body>
    <div>
        <a class="mx-3" href='/dashboard'>dashboard</a>|
        <a class="mx-3" href="/logout">logout</a>
    </div>
    <h1>All Ice Cream Shops</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for shop in ice_cream_shops %}
            <tr>
                <td>{{ shop.name }}</td>
                <td>{{ shop.address }}</td>
                <td>{{ shop.phone_number }}</td>
                <td>
                    
                    <a href="{{ url_for('ice_cream_shops', id=shop.id) }}">Edit</a>
                    <form action="{{ url_for('ice_cream_shops', id=shop.id) }}" method="POST">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('ice_cream_shops') }}">Add Ice Cream Shop</a>
</body>

</html>