<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Ice Cream Shops</title>

    <!-- Link to Bootstrap CSS file -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div>
        <a class="mx-3" href='/dashboard'>dashboard</a>|
        <a class="mx-3" href="/logout">logout</a>
    </div>

    <div class="container mt-5">
        <h1>All Ice Cream Shops</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for shop in ice_cream_shops %}
                <tr>
                    <td>{{ shop.name }}</td>
                    <td>{{ shop.address }}</td>
                    <td>{{ shop.phone_number }}</td>
                    <td>
                        <a class="btn btn-primary" href="/ice_cream_shops/{{ shop.id }}/edit">Edit</a>
            
                        <form action="{{ url_for('ice_cream_shops', id=shop.id) }}" method="POST" style="display: inline-block;">
                            <input type="hidden" name="_method" value="DELETE" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="/ice_cream_shops/new">Add Ice Cream Shop</a>
    </div>

    <!-- Link to Bootstrap JS file (jQuery and Popper.js are required for some Bootstrap plugins) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>